:root {
    --content-text-color: #ccccdd;
}

midi-visualizer svg rect.note {
    opacity: 0.6;
    stroke-width: 2;
    fill: rgb(89, 241, 233);
    stroke: rgb(0, 13, 85);
}

midi-visualizer {
    border: 2px solid #4a4ac1; /* Border color and width */
    border-radius: 10px; /* Rounded edges */
    overflow: hidden; /* Prevent overflow of content */
    margin: 20px 0; /* Space above and below the visualizer */
    padding: 10px; /* Padding inside the visualizer */
    width: 100%; /* Full width for the visualizer */
    overflow: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

body, html {
  width: 100%; /* Ensure the body and html take full width */
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1e1e2e;
  color: #f3f3f3;
}

.pagination-container {
    width: 100%; /* Full width */
    max-width: 800px; /* Optional max width for larger screens */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: #1e1e2e;
    color: #000000; /* Default text color, inherited by play button*/
}

.section-header {
    color: var(--content-text-color);
    font-size: 1.8em;
    margin: 20px 0; /* Add margin above and below the text */
}

.section {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    text-align: left; /* Default to left alignment for section content */
}


.section-content {
    font-size: 1.2em;
    color: var(--content-text-color);
    margin-bottom: 10px;
    text-align: left;
}

.section-content a {
    color: var(--content-text-color);
}

.practice-header {
    font-size: 1.2em;
    color: #f3f3f3; /* Match the body text color */
    background-color: #33334d; /* A darker background that fits with your theme */
    border-left: 4px solid #4a4ac1; /* Use a border to add distinction */
}

.score-embed {
    width: 100%;
    height: 400px;
    border: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
button {
    background-color: #4a4ac1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #4a4ac1a6;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    background-color: #383899;
}

.site-footer {
    text-align: center;
    margin-top: 20px;
    color: #9a9aaf;
    font-size: 0.9em;
}

.site-footer a {
    color: #8a8aff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.site-footer a:hover {
    color: #ffffff;
}

.page-number {
    font-size: 0.9em;
    color: #9a9aaf;
    margin-left: 10px;
    margin-right: 10px;
}

.credit {
    font-size: 0.9em;
    color: #9a9aaf;
    margin-top: 10px;
}
